// @kthulu:service:{{.Name}}
package core

type {{.Title | lower}}Service struct {
	repo {{.Title}}Repository
}

func New{{.Title}}Service(repo {{.Title}}Repository) {{.Title}}Service {
	return &{{.Title | lower}}Service{repo: repo}
}

func (s *{{.Title | lower}}Service) Create{{.Title}}(entity *{{.Title}}) error {
	// Add business logic here
	return s.repo.Create(entity)
}

func (s *{{.Title | lower}}Service) Get{{.Title}}ByID(id uint) (*{{.Title}}, error) {
	return s.repo.GetByID(id)
}

func (s *{{.Title | lower}}Service) Update{{.Title}}(entity *{{.Title}}) error {
	// Add business logic here
	return s.repo.Update(entity)
}

func (s *{{.Title | lower}}Service) Delete{{.Title}}(id uint) error {
	// Add business logic here
	return s.repo.Delete(id)
}

func (s *{{.Title | lower}}Service) List{{.PluralTitle}}(filter SearchFilter) ([]*{{.Title}}, error) {
	return s.repo.List(filter)
}
