// @kthulu:repository:{{.Name}}
package repository

import (
	"gorm.io/gorm"
	"{{.DomainImport}}"
)

type {{.Title}}Repository struct {
	db *gorm.DB
}

func New{{.Title}}Repository(db *gorm.DB) domain.{{.Title}}Repository {
	return &{{.Title}}Repository{db: db}
}

func (r *{{.Title}}Repository) Create(entity *domain.{{.Title}}) error {
	return r.db.Create(entity).Error
}

func (r *{{.Title}}Repository) GetByID(id uint) (*domain.{{.Title}}, error) {
	var entity domain.{{.Title}}
	err := r.db.First(&entity, id).Error
	return &entity, err
}

func (r *{{.Title}}Repository) Update(entity *domain.{{.Title}}) error {
	return r.db.Save(entity).Error
}

func (r *{{.Title}}Repository) Delete(id uint) error {
	return r.db.Delete(&domain.{{.Title}}{}, id).Error
}

func (r *{{.Title}}Repository) List(filter domain.SearchFilter) ([]*domain.{{.Title}}, error) {
	var entities []*domain.{{.Title}}
	query := r.db.Model(&domain.{{.Title}}{})

	if filter.Query != "" {
		// Basic search implementation
		// query = query.Where("name LIKE ?", "%"+filter.Query+"%")
	}

	if filter.Limit > 0 {
		query = query.Limit(filter.Limit)
	}
	if filter.Offset > 0 {
		query = query.Offset(filter.Offset)
	}

	err := query.Find(&entities).Error
	return entities, err
}
