module {{ .ModuleName }}

go {{ .GoVersion }}

require (
    go.uber.org/fx v1.24.0
    github.com/cucumber/godog v0.15.1
    github.com/stretchr/testify v1.11.1
    github.com/gorilla/mux v1.8.1
    github.com/prometheus/client_golang v1.19.1
    gorm.io/gorm v1.25.10
    gorm.io/driver/sqlite v1.5.5
    github.com/golang-jwt/jwt/v5 v5.2.1
    golang.org/x/crypto v0.24.0
    golang.org/x/net v0.24.0
    github.com/quic-go/quic-go v0.42.0
    google.golang.org/grpc v1.62.1
    github.com/grpc-ecosystem/grpc-gateway/v2 v2.19.1
)
